<div id = "locations">
<% @nearbyspots.each_with_index do |place, index| %>
<p>
  <span class="index"><%= index+1 %></span>. Piece Title: <%= place.title%>
  <br>
  Artist: <%= place.artist%>
  <br>
  <%=link_to place.address, root_path, data: {placeid: place.id}, class: "address" %>
</p>
<%end%>
<%=link_to "Previous", root_path, id: "prev" %> <%=link_to "Next", root_path, id: "next"%>
</div>