<%= javascript_include_tag 'shownearby/createmap.js'%>
<div id="map"></div>
<div class = "locations">
<% @nearbyspots.each_with_index do |place, index| %>
<p>
  <%= index+1 %>. Piece Title: <%= place.title%>
  <br>
  Artist: <%= place.artist%>
  <br>
  <%=link_to place.address, root_path, data: {placeid: place.id} %>
</p>
<%end%>
