<%= javascript_include_tag 'about/slider.js'%>
<%= javascript_include_tag 'about/pageinteractions.js'%>
<div class="slideshow">
  <%=image_tag("slide2.jpg")%>
  <%=image_tag("slide1.jpg")%>
  <%=image_tag("slide3.jpg")%>
  <%=image_tag("slide4.jpg")%>

</div>
