<!DOCTYPE html>
<html>
<head>
  <title>SF Open Art</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
      <script src="https://cdnjs.cloudflare.com/ajax/libs/react/0.14.7/react.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/react/0.14.7/react-dom.js"></script>
  <%= csrf_meta_tags %>
  <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCE-897CDl9CnFtZDVIQEQkd409ibKqcmQ" type="text/javascript"></script>
</head>
<body>
<%= react_component('Navbar', { tabs: [{text: "Show Nearby Art", link: locations_path}, {text: "Search by Location", link: locations_search_path}, {text: "Search by Artist", link: artists_path}, {text: "Show Full Map", link: maps_path}]}) %>

<div id="main">
  <%= yield %>
</div>
</body>
</html>
