<!DOCTYPE html>
<html>
<head>
  <title>SF Open Art</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCE-897CDl9CnFtZDVIQEQkd409ibKqcmQ" type="text/javascript"></script>
</head>
<body>
<header>
  <%=link_to image_tag("artlogo.png", id: "logo"), root_path%>
  <div id="navbar">
    <table id="menutable">
      <tr id="menurow">
        <td class="menuitem">
          <%=link_to "Show Nearby Art", nearbysearch_path%>
        </td>
        <td class="menuitem">
          <%=link_to "Search by Location", locationsearch_path%>
        </td>
        <td class="menuitem">
          <%=link_to "Search by Artist", artistsearch_index_path%>
        </td>
        <td class="menuitem">
          <%=link_to "About", about_path%>
        </td>
      </tr>
    </table>
  </div>
</header>
<div id="main">
  <%= yield %>
</div>
</body>
</html>
